body {
  background-color: #e2e8f0;
  display: grid;
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Roboto Mono", monospace;
}

.header {
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.container_main {
  display: grid;
}

.container_primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.container_input {
  text-align: center;
}
.container_input textarea {
  width: 100%;
  outline: none;
  background: none;
  border: none;
  font-size: 1.5rem;
}

.container_buttons {
  padding-left: 2rem;
}
.validate {
  font-size: 15px;
}
.validate span {
  border-radius: 50px;
  width: 1rem;
  height: 1rem;
  background-color: #495057;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  padding: 15px;
  border-radius: 10px;
  width: 80%;
}

.btn_encrypter {
  background-color: #0369a1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn_decryptor {
  background-color: #0284c7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn_clear {
  background-color: #0ea5e9;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn_icons {
  width: 25px;
  color: #e2e8f0;
}

.container_secondary {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
  border-radius: 32px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  text-align: center;
  align-items: center;
}
.text_encrypted {
  display: none;
  border: none;
  outline: none;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
}
.div_secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image_search {
  display: none;
  width: max-content;
}

.message_not_found {
  font-size: 1.5rem;
  font-weight: 700;
}

.message_input_text {
  font-size: 1rem;
}

.btn_copy {
  display: none;
}

footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: large;
  align-items: center;
}
footer p {
  text-align: center;
  font-size: 1rem;
}

.icons_socials a img {
  width: 1.5rem;
}

@media screen and (min-width: 640px) {
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  .btn {
    width: 200px;
  }
  .container_input textarea {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding-right: 5rem;
  }
  .container_main {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "element1 element2";
  }
  .image_search {
    display: block;
  }

  .container_primary {
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;
  }

  .container_secondary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .container_input textarea {
    width: 70%;
  }
}
