body {
  background-color: #f3f5fc;

  font-size: rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "Roboto Mono", monospace;
}

.header {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.container_main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container_input {
  text-align: center;
}

.container_input textarea {
  background: none;
  border: none;
  font-size: 1rem;
}

.container_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 15px;
  border-radius: 10px;
}

.btn_primary {
  background-color: #4f46e5;
  color: white;
}
.btn_secondary {
  background-color: #f3f5fc;
  border-color: #4f46e5;
}
.container_secondary {
  background-color: white;
  border-radius: 32px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 10px;
  text-align: center;
}

.message_not_found {
  font-size: 1.5rem;
  font-weight: 700;
}

.message_input_text {
  font-size: 1rem;
}

footer {
  text-align: center;
  font-size: large;
}

@media screen and (min-width: 768px) {
  .container_buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .btn {
    width: 100%;
  }
}
